<style>
  .row.content {height: 93vh}
  .sidenav {
    background-color: #f1f1f1;
    height: 100%;
  }
  @media screen and (max-width: 500px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height: auto;}
  }
</style>
<ng-template #tempCad>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Cadastrar</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
<fieldset>



<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="nome">Nome</label>
  <div class="col-md-4">
  <input  [(ngModel)]="nome" id="nome" name="nome" type="text" class="form-control input-md" required="">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="telefone">Telefone</label>
  <div class="col-md-4">
  <input [(ngModel)]="telefone" id="telefone" name="telefone" type="text" class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="celular">Celular</label>
  <div class="col-md-4">
  <input [(ngModel)]="celular" id="celular" name="celular" type="text" class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="endereco">Endereço</label>
  <div class="col-md-4">
  <input [(ngModel)]="endereco" id="endereco" name="endereco" type="text" class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">E-mail</label>
  <div class="col-md-4">
  <input [(ngModel)]="email" id="email" name="email" type="text" class="form-control input-md">

  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="button"></label>
  <div class="col-md-4">
    <button id="button" name="button" class="btn btn-success" (click)="modalRef.hide()" (click)="salvarContato()">Gravar</button>
  </div>
</div>

</fieldset>
</form>

  </div>
</ng-template>
<ng-template #tempUp>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Atualizar</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
<fieldset>



<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="nome">Nome</label>
  <div class="col-md-4">
  <input  [(ngModel)]="nome" id="nome" name="nome" type="text" class="form-control input-md" required="">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="telefone">Telefone</label>
  <div class="col-md-4">
  <input [(ngModel)]="telefone" id="telefone" name="telefone" type="text" class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="celular">Celular</label>
  <div class="col-md-4">
  <input [(ngModel)]="celular" id="celular" name="celular" type="text" class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="endereco">Endereço</label>
  <div class="col-md-4">
  <input [(ngModel)]="endereco" id="endereco" name="endereco" type="text" class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">E-mail</label>
  <div class="col-md-4">
  <input [(ngModel)]="email" id="email" name="email" type="text" class="form-control input-md">

  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="button"></label>
  <div class="col-md-4">
    <button id="button" name="button" class="btn btn-success" (click)="modalRef.hide()" (click)="salvarContato()">Atualizar</button>
  </div>
</div>

</fieldset>
</form>

  </div>
</ng-template>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <h4>Menu</h4>
      <ul class="nav nav-pills nav-stacked">
        <li><button type="button" class="btn btn-link" (click)="openModal(tempCad)">Cadastrar</button></li>
      </ul><br>
    </div>
    <div class="col-sm-10">
      <table class="table table-list-search" id="table">
        <tr>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Celular</th>
          <th>Endereço</th>
          <th>E-Mail</th>
          <th><p data-placement="top" data-toggle="tooltip" title="Edit">
              <span class="glyphicon glyphicon-pencil">
              </span>
          </p></th>
          <th><p data-placement="top" data-toggle="tooltip" title="Delete">
              <span class="glyphicon glyphicon-trash"></span>
          </p></th>
        </tr>
        <tr *ngFor="let contato of contatos">
          <td>
            {{contato.nome}}
          </td>
          <td>
            {{contato.telefone}}
          </td>
          <td>
            {{contato.celular}}
          </td>
          <td>
            {{contato.endereco}}
          </td>
          <td>
            {{contato.email}}
          </td>
          <td>
            <p data-placement="top" data-toggle="tooltip" title="Edit">
              <button (click)="openModal(tempUp)" (click)="updateContato(contato)" class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" >
                <span class="glyphicon glyphicon-pencil">
                </span>
              </button>
            </p>
          </td>
          <td>
            <p data-placement="top" data-toggle="tooltip" title="Delete">
              <button (click)="apagarContato(contato.id)" class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" >
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </p>
          </td>

        </tr>
      </table>
    </div>
  </div>
</div>
